 }
    ?{{cde}}g a obo:NCIT_C62143 ; sio:SIO_000068 ?{{cde}}timeline, ?{{cde}}context ; sio:SIO_000687 ?{{cde}}age, ?{{cde}}date ; sio:SIO_000300 ?{{cde}}uniqid .
    ?{{cde}}timeline a obo:NCIT_C54576, sio:SIO_000417; sio:SIO_000332 ?{{cde}}individual .
    ?{{cde}}individual a sio:SIO_000498 ; sio:SIO_000671 ?{{cde}}individual_identifier .       
    ?{{cde}}individual_identifier a sio:SIO_000115 ; sio:SIO_000300 ?individual_id .