GRAPH ?{{filter}}g {
    ?{{filter}}process sio:SIO_000229 ?{{filter}}output ; a sio:SIO_000006 , ?{{filter}}process_type. FILTER (?{{filter}}process_type != sio:SIO_000006) .
    ?{{filter}}output sio:SIO_000628 ?{{filter}}attribute; a sio:SIO_000015 , ?{{filter}}output_type. FILTER (?{{filter}}output_type != sio:SIO_000015) .
    ?{{filter}}output sio:SIO_000300 ?value.
    ?{{filter}}attribute a sio:SIO_000614.
    ?{{filter}}attribute sio:SIO_000332 ?{{filter}}attribute_type. FILTER (?{{filter}}attribute_type = obo:NCIT_C68615).
    
}
?{{filter}}g a obo:NCIT_C25616 ; sio:SIO_000068 ?{{filter}}timeline ; sio:SIO_000068 ?{{filter}}context ; sio:SIO_000680 ?{{filter}}startdate ; sio:SIO_000681 ?{{filter}}enddate; sio:SIO_000300 ?{{filter}}uniqid .
?{{filter}}context a obo:NCIT_C25616 ; sio:SIO_000300 ?{{filter}}context_id .
?{{filter}}startdate a sio:SIO_000031 ; sio:SIO_000300 ?{{filter}}value_startdate .
?{{filter}}enddate a sio:SIO_000032 ; sio:SIO_000300 ?{{filter}}value_enddate . 
?{{filter}}timeline a obo:NCIT_C54576, sio:SIO_000417; sio:SIO_000332 ?{{filter}}individual .
?{{filter}}individual a sio:SIO_000498 ; sio:SIO_000671 ?{{filter}}individual_identifier .       
?{{filter}}individual_identifier a sio:SIO_000115 ; sio:SIO_000300 ?individual_id .
FILTER (?{{filter}}value >= {{start}}^^xsd:date && ?{{filter}}value <= {{end}}^^xsd:date).