PREFIX xsd: <http://www.w3.org/2001/XMLSchema#> 
PREFIX ldp: <http://www.w3.org/ns/ldp#> 
PREFIX ejp: <http://purl.org/ejp-rd/vocabulary/> 
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> 
PREFIX ordo: <http://www.orpha.net/ORDO/> 
PREFIX skos: <http://www.w3.org/2004/02/skos/core#> 
PREFIX obo: <http://purl.obolibrary.org/obo/>


SELECT (count(DISTINCT ?catalog) as ?count)
WHERE {
    VALUES ?connection { ejp:vpConnection dcat:theme dcat:themeTaxonomy }
    VALUES ?discoverability { ejp:VPDiscoverable ejp:VPContentDiscovery }
    ?catalog ?connection ?discoverability .